@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Black.otf') format('opentype');
  font-weight: 900;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Heavy.otf') format('opentype');
  font-weight: 800;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Aileron';
  src: url('../assets/fonts/Aileron-SemiBold.otf') format('opentype');
  font-weight: 600;
}

body {
  font-family: 'Aileron', sans-serif;
}

